### NPM ###
/node_modules/*
/dist/*

### Sass ###
.sass-cache/*
*.css.map

### BACKUP ###
/lib_backup/*
/lib_archive/*

### PROJECT ###
/lib/*.html
/lib/assets/css/*

###SUBLIME##
*.sublime-project
*.sublime-workspace
README.html
